.cartContainer {
    padding: 2rem;
    max-width: 75%;
    margin-top: 5rem;
    margin-left: 10rem;
    background-color: #fafafa;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .cartContent {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .cartItems {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .cartItem {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .productImage {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 1rem;
  }
  
  .productDetails {
    flex: 1;
  }
  
  .productName {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .productPrice {
    color: #888;
    margin-top: 0.5rem;
  }
  
  .quantityControl {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .decrementButton,
  .incrementButton {
    padding: 0.2rem 0.5rem;
    background-color: #e2e8f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .quantity {
    font-size: 1rem;
  }
  
  .removeButton {
    background-color: #fc3535;
    color: white;
    font-size: 1rem;
    padding: 0.7rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .removeButton:hover{
    background-color: #e13131;
  }
  
  .cartSummary {
    width: 300px;
    padding: 1.5rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .summaryTitle {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .summaryItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  .summaryTotal {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .checkoutButton {
    width: 100%;
    padding: 0.75rem;
    background-color: #0db281;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
  }
  
  .checkoutButton:hover {
    background-color: #08774c;
  }
  